.svg-1, .svg-2 {
	position: relative;
	width: 75%;
	margin: auto;
	margin-bottom: 50px;
}

.svg-1 img, .svg-2 img {
	border-radius: 10px;
	width: 100%;
}

video {
	position: relative;
	width: 100%;
	margin: auto;
}

